.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.div__button {
  position: absolute;
  margin-left: 306px;
  cursor: pointer;
}

/* close button for popover */
.div__button svg[data-icon = "times-circle"] {
  position: relative;
  left: 345px;
  top: 12px;
  background-color: white;
  color: hsl(0, 0%, 17%);
  z-index: 1;
}