.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.div__button {
  position: absolute;
  margin-left: 306px;
  cursor: pointer;
}

.popover__background {
  z-index: 1;
}