/* Style the accordion panel. Note: hidden by default */
.panelClose {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.panelOpen {
    background-color: white;
    display: block;
}

.label {
    color: var(--fmsp-blue);
    margin-bottom: 20px;
    user-select: none;
    font-size: 13px;
}

.card {
    text-align: left;
    outline: none;
    transition: 0.4s;
    padding: 13px 16px 22px 16px;
}

.icon {
    justify-self: end;
    color: var(--fmsp-blue);
    font-size: 9px;
    margin-bottom: 20px;
}

.card__buttons {
    display: flex;
    justify-content: space-between;
    width: 281px;
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}