
.whole-button {
    width: auto;
    height: auto;
}

.label-block {

    display: inline-block;
    padding-top: 5px;
    text-align: center;   
    font-size: 1.5em;
}

.dashboard {

    /*width: 80%;
    height: 80%;*/
    border-radius: 10%;
    padding: 5% 0%;
    margin: 10px; 
    background-color: #0779E4;
    color: white;
    border-style: none;
    text-align: center;
    /* justify-content: center;
    align-items: center; */


}

.card-grid-cell-center {
    padding-top: 25px;
    width: 90% !important; /* used to overwrite front aweseoms width rules */
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    
}

.fa-w-20 {
    width: 100%
}