.menu {
    width: 333px;
    height: 158px;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    padding: 11px 11px 17px 11px;
    margin-top: 18px;
    background-color: #ffffff;
    grid-row: 2/3;
    grid-column: 2/3;
}

.menu > label {
    color: var(--fmsp-gray);
    font-family: Helvetica;
    font-size: 9px;
}

.menu > input {
    width: 270px;
}

.menu__lineBreak {
    border: 1px solid var(--fmsp-light-gray);
}

.menu > select {
    color: var(--fmsp-placeholder-text-color);
}

.menu__buttons {
    border: 1px solid var(--fmsp-blue);
    justify-content: center;
    height: 30px;
}

.menu__buttons > button {
    border: 0;
    font-size: 12px;
    font-family: Arial;
    background: 0;
}

/* .menu__buttons > button:focus {
    background-color: var(--fmsp-blue);
    color: #ffffff;
} */

.button__focus {
    background-color: var(--fmsp-blue);
    color: #ffffff;
}

.menu__buttons > .button__focus {
    background-color: var(--fmsp-blue) !important;
    color: #ffffff !important;
}

.menu__middleButton {
    border-left: 1px solid var(--fmsp-blue) !important;
    border-right: 1px solid var(--fmsp-blue) !important;
}

.menu > svg[data-icon="ellipsis-h"] {
    position: absolute;
    margin-left: 306px;
}

.menu,
.menu__buttons {
    display: flex;
    border-radius: 5px;
}

.menu > input,
.menu > select {
    height: 24px;
}

.menu > label,
.menu > input {
    padding-left: 5px;
}

.menu > label,
.menu > input,
.menu > select {
    border: none;
}

.menu > label,
.menu > select,
.menu__buttons,
.menu__buttons > button {
    width: 100%;
}
