.navbar {
    grid-column: 2 / 3;
    column-gap: 1%;
}

.navbar,
.navbar-item,
.active {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-item,
.active {
    font-size: 14px;
    font-weight: 400;
    width: 111px;
    height: 100%;
    text-align: center;
}

.navbar-item {
    color: #9a9a9a;
    padding-bottom: 2px;
}

.active {
    border-bottom: 2px solid var(--fmsp-blue);
    color: black;
}
