.mainMenuPortalRow {
    height: 62px;
    display: grid;
    grid-template-columns: 29px 56px 242px 215px 37px 100%;
    /* justify-content: space-between; */
    align-items: center;
    --gray: #D8D8D8;
    border-bottom: 1px solid var(--fmsp-light-gray);
}

.mainMenuPortalRow__deleteButton {
    fill: var(--fmsp-blue);
    width: 13px;
    padding-left: 5px;
}

.mainMenuPortalRow__initials {
    border: 1px solid var(--gray);
    color: var(--gray);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: 500;
}

.mainMenuPortalRow__nameTitle,
.mainMenuPortalRow__addressPhone {
    display: flex;
    flex-direction: column;
}

/* All text in portal row */
.mainMenuPortalRow span {
    font-size: 13px;
}

/* Black text on top */
.mainMenuPortalRow__nameTitle span:nth-child(1),
.mainMenuPortalRow__addressPhone span:nth-child(1) {
}

/* Gray text on bottom */
.mainMenuPortalRow__nameTitle span:nth-child(2),
.mainMenuPortalRow__addressPhone span:nth-child(2) {
   color: var(--fmsp-gray);
}

.mainMenuPortalRow__emailButton {
    width: 31px;
    height: 31px;
    border-radius: 100%;
    background-color: var(--fmsp-gray-3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainMenuPortalRow__emailButton > svg {
    width: 13px;
    fill: var(--fmsp-blue);
}

.mainMenuPortalRow__chevronRight > svg {
    height: 8px;
    fill: var(--fmsp-blue);
}