.masterDetail{
    border: 3px; 
    grid-column: 1/2;
    grid-row: 2/3;
    overflow-y: auto;
}

.masterDetail__bottomMenu {
    display: grid;
    grid-template-columns: 35px 188px 33px 10px;
    align-items: center;
    padding: 10px 0 10px;
}

.masterDetail__record {
    padding: 7px 25px 0 0;
    color: #9A9A9A;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

svg[data-icon="circle-notch"] {
    color: var(--fmsp-blue);
    margin-left: 12px;
    font-size: 18px;
  }
  